# Ignored by GitHub Linguist statistics (so Python doesn't show up)
scripts/* linguist-vendored
*.py linguist-vendored

# Treat HTML templates as Thymeleaf (or standard HTML)
src/main/resources/templates/**/*.html linguist-language=HTML
